# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Terraform Apply for AWS
      uses: kciter/terraform-apply-for-aws-action@v3
      with:
        # The AWS access key id
        access_key_id: ${{ secrets.ACCESS_KEY_ID }}
        # The AWS secret access key
        secret_access_key: ${{ secrets.SECRET_ACCESS_KEY }}
        # The AWS default region
        region: eu-west-1
    
    
